@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*colors*/
    --headcolor: #90908E;
    --btncolor: #4F4E4E;
    --bgcolor: #E3E3E1;

}

body, html {
    background-color: var(--bgcolor);
    height: 100vh;
}

header {
    background-color: var(--headcolor);
    width: 100%;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(66, 66, 66);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--btncolor);
    text-align: center;
    color: white;
    border-top: 1px solid gray;
}

nav > ul > li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    margin: auto;
    width: 90vw;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

@media screen and (min-width: 480px) {
    #burguer {
        display: none;
       }

    nav {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main {
        max-width: 800px;
    }
}




