@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}
@font-face {
    font-family: 'raptors' ;
    src: url(fontes/NBA\ Raptors.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.5em;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, #3BD37F, #1A5C38);
    color: white;
    padding: 5px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.413);
    text-align: center;
}

#principal {
    padding: 10px;
    font: normal normal 3rem 'raptors';
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
}

header p {
    padding: 20px;
    font-size: 1rem;
}

nav {
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.331);
    padding: 9px;
}

nav a:hover {
    color:#C5EBD6;
    background-color: #258a52fd;
    transition: 1s;
    border-radius: 5px;
}

#conteudo {
    background-color: white;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.413);
     
}

h1 {
    font: normal normal 2rem 'idroid';
    padding: 20px;
    color: #266442;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
}

h2 {
    font: normal normal 1.5rem 'idroid';
    padding-left: 20px;
    color: #266442;
    background-image: linear-gradient(to right, #d6ffe7, white);
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
}

p {
    text-indent: 25px;
    padding: 10px 20px;
}

img {
    width: 100%;
    
}

.bugdroid {
    max-width: 350px;
    margin: auto;
    display: block;
}

.vid {
    background-color: #1A5C38;
    position: relative;
    padding-bottom: 56.2%;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
 
.pergunta {
    background-color: #2FA866;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.203);
    
}

.lista {
    background-color: #C5EBD6;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.413);
}

ul {
    list-style:none;
    padding: 20px;
    columns: 2;
}

#link {
    color: #266442;
    text-decoration: none;
    font-weight: bold;
}

#link:hover {
    color: white;
    background-color: #266442;
}

span {
    color: #266442;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #266442;
    text-align: center;
    font-style: italic;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #2FA866;
    transition: 0.5s;
}
    






